Package: com.sectorus.batteryinverter
Name: BatteryInverter
Depends: mobilesubstrate
Version: 1.0.1
Architecture: iphoneos-arm
Description: Inverts the battery percentage
Maintainer: Sectorus
Author: Sectorus
Section: Tweaks
